.services {
  margin-top: 50vh;
  position: relative;

  @include forTablet {
    margin-top: 30vh;
  }

  @include forMobile {
    margin-top: VW(500, $mobile);
  }

  .title {
    position: absolute;
    inset: 0;

    @include forMobile {
      clip-path: none !important;

      &:nth-of-type(1) {
        display: none;
      }
    }

    &_wrapper {
      position: sticky;
      top: 25%;
      z-index: -1;
      width: VW(1820);
      height: VW(390);
      margin: 0 auto 10vw;
      
      @include forTablet {
        top: 40%;
      }
      
      @include forMobile {
        position: relative;
        top: 0%;
        margin: 0 auto 14vw;
      }
    }
  }

  .cards_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: VW(40);

    margin-top: VW(100);

    @include forTablet {
      gap: VW(40, $tablet);
    }

    @include forMobile {
      gap: VW(30, $mobile);
    }

    .card {
      box-shadow: $boxShadow;
      background-color: $c-white;
      border-radius: VW(30);
      width: VW(880);
      padding: VW(20) VW(20) VW(60);
      display: flex;
      flex-direction: column;
      gap: VW(20);

      @include forTablet {
        width: VW(496, $tablet);
        padding: VW(15, $tablet) VW(15, $tablet) VW(40, $tablet);
        gap: VW(15, $tablet);
        border-radius: VW(16, $tablet);
      }

      @include forMobile {
        padding: VW(15, $mobile) VW(15, $mobile) VW(40, $mobile);
        gap: VW(15, $mobile);
        border-radius: VW(12, $mobile);
        width: 80%;
      }

      .top {
        display: flex;
        gap: VW(20);
        align-items: center;

        @include forTablet {
          gap: VW(12, $tablet);
        }

        @include forMobile {
          flex-direction: column;
          align-items: flex-start;
          width: 94%;
          gap: VW(12, $mobile);
        }

        .icon {
          width: VW(92);
          height: VW(92);
          
          @include forTablet {
            width: VW(50, $tablet);
            height: VW(50, $tablet);
          }
          
          @include forMobile {
            width: VW(50, $mobile);
            height: VW(50, $mobile);
          }
        }
      }

      .background {
        width: VW(880);
        height: VW(575);
        border-radius: VW(10);

        @include forTablet {
          width: 100%;
          height: VW(309, $tablet);
          border-radius: VW(5, $tablet);
        }

        @include forMobile {
          width: 100%;
          height: VW(220, $mobile);
          border-radius: VW(5, $mobile);
        }
      }

      .text {
        width: 75%;

        @include forMobile {
          width: 100%;
        }
      }

      &.carousel {
        flex-direction: row;
        justify-content: space-between;

        @include forMobile {
          flex-direction: column;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 45%;

          @include forMobile {
            width: 100%;
          }

          .top {
            align-items: flex-start;
            flex-direction: column;
            width: 90%;

            @include forTablet {
              width: 100%;
            }
          }

          .text {
            width: 100%;
            margin-top: VW(220);

            @include forMobile {
              margin-top: VW(12, $mobile);
            }
          }
        }

        &.carousel {
          .wrapper {
            height: 100%;
            width: 50%;
            max-height: VW(725);
            overflow: clip;
            border-radius: VW(10);

            display: flex;
            flex-direction: column;

            @include forTablet {
              max-height: VW(518, $tablet);
            }

            @include forMobile {
              flex-direction: row;
              width: 100%;
              max-height: VW(200, $mobile);
              margin-top: VW(20, $mobile);
            }

            .content {
              display: flex;
              flex-direction: column;
              // gap: VW(12);
              height: fit-content;
              animation: 6s spinAnimation infinite linear;
              
              @include forMobile {
                flex-direction: row;
                animation: 6s spinAnimationX infinite linear;
              }
            }

            .item {
              margin-top: VW(12);
              background-color: $w-100;
              color: $g-90;
              width: calc(VW(438) - VW(80));
              height: calc(VW(438) - VW(80));
              padding: VW(40);
              border-radius: VW(10);
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;

              @include forTablet {
                width: VW(238, $tablet);
                height: VW(238, $tablet);
                border-radius: VW(6, $tablet);

                width: calc(VW(238, $tablet) - VW(60, $tablet));
                height: calc(VW(238, $tablet) - VW(60, $tablet));
                padding: VW(30, $tablet);
              }
              
              @include forMobile {
                margin: 0 VW(12, $mobile) 0 0;
                width: VW(200, $mobile);
                height: VW(200, $mobile);
                border-radius: VW(6, $mobile);
                
                width: calc(VW(200, $mobile) - VW(40, $mobile));
                height: calc(VW(200, $mobile) - VW(40, $mobile));
                padding: VW(20, $mobile);
              }
            }
          }
        }
      }

      &.fullBg {
        height: VW(580);
        position: relative;
        z-index: 1;
        padding: VW(20) VW(20);

        color: $c-white;

        justify-content: space-between;

        @include forTablet {
          padding: VW(15, $tablet) VW(15, $tablet) VW(40, $tablet);
          height: VW(374, $tablet);
        }
        
        @include forMobile {
          height: VW(577, $mobile);
          padding: VW(20, $mobile) VW(15, $mobile) VW(30, $mobile);
          background-color: $c-black;
        }

        .background {
          position: absolute;
          inset: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          border-radius: VW(30);

          @include forTablet {
            border-radius: VW(16, $tablet);
          }
          
          @include forMobile {
            border-radius: VW(12, $mobile);

            background: linear-gradient(205.56deg, rgba(0, 0, 0, 0) 60.41%, rgba(0, 0, 0, 0.9) 78.91%);
            height: VW(476, $mobile);
            top: VW(50, $mobile);
          }  
        }

        .text {
          width: 100%;
        }
      }
    }
  }

  .button {
    margin: VW(40) auto;
    background-color: $green-100;
    width: VW(860);
    border-radius: VW(30);
    padding: VW(40) VW(30);
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    box-shadow: $boxShadow;

    overflow: clip;

    transition: background-color 0.3s ease;

    @include forTablet {
      width: VW(470, $tablet);
      padding: VW(30, $tablet);
      border-radius: VW(16, $tablet);
    }
    
    @include forMobile {
      width: 78%;
      padding: VW(30, $mobile) VW(20, $mobile);
      border-radius: VW(12, $mobile);
      justify-content: center;
    }

    @include hover {
      background-color: $c-white;

      .buttonTitle {
        color: $c-black;
        transform: translateX(0%);
        left: VW(40);
        
        @include forTablet {
          left: VW(40, $tablet);
        }
        
        @include forMobile {
          left: VW(20, $mobile);
        }    
      }

      .buttonWrapper {
        transform: translateY(0%);
        filter: blur(0vw);
        opacity: 1;
      }
    }

    @include touch {
      background-color: $c-white;
      
      @include forMobile {
        background-color: $green-100;
      }  

      .buttonTitle {
        color: $c-black !important;
        transform: translateX(0%) !important;
        left: VW(40) !important;
        
        @include forMobile {
          transform: translateX(0%) !important;
          left: 0% !important;
          color: $c-white !important;
        }  
      }

      .buttonWrapper {
        transform: translateY(0%) !important;
        opacity: 1 !important;
      }
    }

    .buttonTitle {
      display: inline-block;
      color: $c-white;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      
      pointer-events: none;
      
      transition-duration: 0.5s;
      transition-timing-function: $ease1, $ease1, ease;
      transition-property: transform, left, color;
      
      // padding-left: VW(30);

      text-wrap: nowrap;
      
      @include forTablet {
        left: VW(40, $tablet) !important;
        transform: translateX(0%) !important;
      }
      
      @include forMobile {
        left: 50% !important;
        transform: translateX(-50%) !important;
      }    
    }

    .buttonWrapper {
      transform: translateY(100%);
      filter: blur(1vw);
      opacity: 0;

      transition: 0.5s $ease1;
      transition-property: transform, opacity, filter;

      @include touch {
        transform: translateY(0%) !important;
        filter: blur(0vw) !important;
        opacity: 1 !important;
      }

      @include forMobile {
        display: none;
      }  
    }
  }
}

@keyframes spinAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes spinAnimationX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
