.faqItem {
  &:nth-last-of-type(1) {
    border-bottom: VW(1) solid $g-50;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: VW(20);
    padding: VW(30) 0;
    border-top: VW(1) solid $g-50;
    cursor: pointer;
    transition: opacity 0.5s ease;

    @include forTablet {
      align-items: flex-start;
      padding: VW(20, $tablet) 0;
      gap: VW(250, $tablet);
    }

    @include forMobile {
      align-items: flex-start;
      padding: VW(20, $mobile) 0;
      gap: VW(20, $mobile);
    }

    h2 {
      pointer-events: none;
      width: fit-content;
    }

    &_line {
      width: 100%;
      height: max(VW(2), 2px);
      background-color: $c-black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      transition-duration: 0.5s, 0.5s;
      transition-property: rotate, scale;
      transition-timing-function: $ease1, $BounceOut;

      &:nth-of-type(2) {
        rotate: -90deg;
      }

      &_wrapper {
        width: VW(30);
        height: VW(30);
        position: relative;

        @include forTablet {
          width: VW(30, $tablet);
          height: VW(30, $tablet);
        }

        @include forMobile {
          width: VW(18, $mobile);
          height: VW(18, $mobile);
        }
      }
    }

    @include hover {
      opacity: 0.5;
      &_line {
        scale: 1.1;
      }
    }
  }

  .body {
    overflow-y: hidden;
    overflow-x: visible;
    transition:
      height 0.7s $ease1,
      filter 0.5s ease,
      opacity 0.5s ease;
    height: 0;
    opacity: 0;

    filter: blur(.2vw);

    &_content {
      padding: 0 VW(100) VW(30) 0;

      @include forMobile {
        padding-bottom: VW(20, $mobile);
      }
    }

    &_element {
      ol,
      ul,
      li {
        margin: revert !important;
        padding: revert !important;
        border: revert !important;
        list-style: revert !important;
      }
    }
  }

  &__active {
    .body {
      opacity: 1 !important;
      filter: blur(.0vw) !important;
      transition:
        height 0.7s $ease1,
        filter 0.7s 0.5s $ease1,
        opacity 0.5s 0.5s ease !important;
    }
    .head_line {
      &:nth-of-type(2) {
        rotate: 0deg;
      }
    }
  }
}
