  @import "./utils/typography";
  @import "./utils/fonts";
  @import "./utils/mixins";
  @import "./utils/variables";
  @import "./utils/responsive-data";

.body {
  @extend %body-text;
  color: $c-black;
  overflow-x: hidden;
  opacity: 1;

  ::selection {
    color: $green-100 !important;
    background: $c-black !important;
  }
}

.html {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
  
  &::-moz-scrollbar {
    display: none; /* Firefox до версії 64 */
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    -ms-overflow-style: none;
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    overflow: -ms-autohiding-scrollbar;
  }
}

.container {
  padding-right: 4vw;
  padding-left: 4vw;
}

.shadow {
  color: $g-100;
}

.green {
  color: $green-100;
}

.text-hover {
  transition: color .3s ease;

  @include hover {
    color: $g-90;
  }
}

.main {
  &--loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.white-space {
  height: 100vh;
  background-color: #fff;
}

.lazyload-wrapper {
  height: 100%;
  width: 100%;
  
  img, video {
    height: 100%;
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, VW(119));
  column-gap: VW(40);
  
  @include forTablet {
    grid-template-columns: repeat(6, VW(110, $tablet));
    column-gap: VW(20, $tablet);
  }
  
  @include forMobile {
    grid-template-columns: repeat(2, VW(173, $mobile));
    column-gap: VW(20, $mobile);
  }
}
