.header {
  position: fixed;
  top: VW(30);
  left: VW(44);
  right: VW(20);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include forTablet {
    top: VW(20, $tablet);
    left: VW(40, $tablet);
    right: VW(40, $tablet);
  }
  
  @include forMobile {
    top: VW(10, $mobile);
    left: VW(15, $mobile);
    right: VW(15, $mobile);
  }

  &__logo {
    width: VW(210);
    height: VW(48);

    @include forTablet {
      width: VW(166, $tablet);
      height: VW(38, $tablet);
    }
    @include forMobile {
      width: VW(166, $mobile);
      height: VW(38, $mobile);
    }
  
  }

  .links {
    // display: flex;
    align-items: center;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: $boxShadow;
    backdrop-filter: blur(15px);

    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    padding: VW(8) VW(22);
    border-radius: 10vw;

    .bg {
      border-radius: 10vw;
      display: block;
      position: absolute;
      inset: VW(8);
      z-index: -1;
      background-color: #fff;
    }

    &_item {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        .link {

          border-right: 0.1vw solid #0000001a;
        }
      }
      
      &:nth-last-of-type(1) {
        .link {
          padding: VW(22) VW(38) VW(22) VW(28);
        }
      }
      
      .link {
        padding: VW(22) VW(28);
      }
    }

    .dropDown {
      position: relative;
      
      &_active {
        .arrow {
          rotate: -180deg;
        }

        .body {
          transform: rotate(-4deg) translate(8%, 0) !important;
          opacity: 1 !important;
          pointer-events: all !important;
        }
      }

      .label {
        display: flex;
        align-items: center;
        gap: 0.3vw;
        cursor: pointer;

        span {
          cursor: pointer;
        }
        
        @include hover {
          .arrow path {
            fill: $g-100 !important;
            stroke: $g-100 !important;
          }
        }

        .arrow {
          width: VW(11);
          height: VW(7);

          transition: rotate 0.3s $easePower4;

          path {
            transition: all 0.3s ease;
          }
        }
      }

      .body {
        position: absolute;
        left: -10%;
        top: 80%;
        display: flex;
        flex-direction: column;
        gap: VW(8);
        padding: VW(24) VW(12);
        text-wrap: nowrap;

        background-color: $green-100;
        box-shadow: $boxShadow;
        backdrop-filter: blur(15vw);
        border-radius: VW(10);
        transform: rotate(8deg) translate(4%, -50%);
        opacity: 0;
        transform-origin: top;

        pointer-events: none;

        transition: 0.3s $easeOutPower3;
        transition-delay: .1s;
        transition-property: transform, opacity;

        .dropDownLink {
          transition: opacity .3s ease;

          @include hover {
            opacity: .5;
          }
        }
      }
    }
  }

  .log_in_buttons {
    // display: flex; 
    align-content: center;
    gap: VW(16);
  }
}
