@font-face {
  font-family: StudioFeixenEdgy;
  src: url("/fonts/StudioFeixenEdgy/StudioFeixenEdgySemibold.ttf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans/StudioFeixenSansRegular.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans/StudioFeixenSansSemibold.ttf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

