@import "./mixins";

%h1 {
  font-family: StudioFeixenSans, sans-serif;
  font-size: VW(100);
  font-style: normal;
  font-weight: bold;
  line-height: 99%;
  letter-spacing: -0.2vw;
  
  @include forTablet {
    font-size: VW(75, $tablet);
  }
  
  @include forMobile {
    font-size: VW(63, $mobile);
  }
}

.edgy {
  font-family: StudioFeixenEdgy, sans-serif;
}

.super-text {
  font-size: VW(150) !important;

  @include forTablet {
    font-size: VW(100, $tablet) !important;
  }
  
  @include forMobile {
    font-size: VW(60, $mobile) !important;
  }

  &.second-tablet {
    @include forTablet {
      font-size: VW(75, $tablet) !important;
    }
  }

  &.second-mobile {
    @include forMobile {
      font-size: VW(54, $mobile) !important;
    }
  }
}

%h2 {
  font-family: StudioFeixenSans, sans-serif;
  font-size: VW(50);
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: -0.15vw;

  @include forTablet {
    font-size: VW(30, $tablet);
  }
  
  @include forMobile {
    font-size: VW(30, $mobile);
  }
}

%h3 {
  font-family: StudioFeixenSans, sans-serif;
  font-size: VW(32);
  font-style: normal;
  font-weight: normal;
  line-height: 106%;
  letter-spacing: -0.1vw;

  @include forTablet {
    font-size: VW(23, $tablet);
  }
  
  @include forMobile {
    font-size: VW(20, $mobile);
  }
}

%body-text {
  font-family: StudioFeixenSans, sans-serif;
  font-size: VW(23);
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0vw;

  @include forTablet {
    font-size: VW(17, $tablet);
  }
  
  @include forMobile {
    font-size: VW(17, $mobile);
  }
}

.small-text {
  font-family: StudioFeixenSans, sans-serif;
  font-size: VW(18);
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: .01vw !important;

  @include forTablet {
    font-size: VW(17, $tablet);
  }
  
  @include forMobile {
    font-size: VW(17, $mobile);
  }

  &.second-tablet {
    @include forTablet {
      font-size: VW(14, $tablet);
    }
  }

  &.second-mobile {
    @include forMobile {
      font-size: VW(14, $mobile);
    }
  }
}

.bold {
  font-weight: bold !important;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;

    &.second-mobile {
      @include forMobile {
        font-size: VW(54, $mobile);
      }
    }
  }

  h2 {
    @extend %h2;

    &.second-mobile {
      @include forMobile {
        font-size: VW(25, $mobile);
      }
    }
  }

  h3 {
    @extend %h3;
  }
}
