.button {
  padding: VW(12) VW(22);
  transition: scale 0.3s $BounceOut;
  border-radius: 10vw;
  color: $c-white;
  position: relative;
  z-index: 11;

  @include hover {
    .bg {
      scale: 1.1;
      filter: blur(0.4vw);
      opacity: 1 !important;
    }
  }

  @include forTablet {
    padding: VW(12, $tablet) VW(22, $tablet);
  }

  @include forMobile {
    padding: VW(12, $mobile) VW(22, $mobile);
    width: fit-content;
  }

  .bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 10vw;
    transition: all 0.3s $BounceOut;
    box-shadow: $boxShadow;
    cursor: pointer;
  }

  &.mainButton {
    .bg {
      background-color: $green-100;
    }
  }

  &.blackButton {
    .bg {
      background-color: $c-black;
    }
  }

  &.transparentButton {
    border: 0.1vw solid $c-black;
    color: $c-black;
    box-shadow: none;

    .bg {
      background-color: $green-70;
      opacity: 0;
    }
  }
}
