.page_bottom {
  position: relative;
  z-index: 12;
  margin-top: VW(300);

  @include forTablet {
    margin-top: 0;
  }
  @include forMobile {
    margin-top: 0;
  }

  .bg {
    position: absolute;
    inset: 0;
    background-color: $green-100;
    z-index: -1;

    clip-path: inset(35% 0% 0%);

    @include forTablet {
      clip-path: none !important;
    }
    @include forMobile {
      clip-path: none !important;
    }
  }
}