.consulting {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: VW(160) 0;
  // height: VW(960);
  position: relative;
  z-index: 10;
  background-color: $w-90;

  @include forTablet {
    height: fit-content;
    padding: VW(100, $tablet) VW(40, $tablet);
    overflow: hidden;
  }

  @include forMobile {
    height: fit-content;
    padding: VW(80, $mobile) VW(15, $mobile);
    overflow: hidden;
    transform: none !important;
    filter: none !important;
  }

  .line {
    width: VW(289);
    height: VW(260);
    position: absolute;
    top: 0;
    left: -1%;

    @include forTablet {
      width: VW(210, $tablet);
      height: VW(190, $tablet);
      rotate: 90deg;
      right: -1%;
      left: auto;
    }

    @include forMobile {
      width: VW(160, $mobile);
      height: VW(150, $mobile);
      rotate: 90deg;
      right: -2%;
      left: auto;
    }
  }

  .faq {
    margin-top: VW(150);
    width: VW(1240);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: VW(40);

    @include forTablet {
      flex-direction: column;
      width: 100%;
    }
    @include forMobile {
      margin-top: VW(80, $mobile);
      flex-direction: column;
      width: 100%;
    }

    .card {
      width: 38%;
      padding: VW(55) VW(60);

      background-color: $c-white;
      box-shadow: $boxShadow;
      border-radius: VW(20);

      display: flex;
      flex-direction: column;

      height: fit-content;
      overflow: hidden;

      position: relative;
      transition: background-color 0.5s ease;

      @include hover {
        background-color: $green-70;

        .card_line {
          scale: 1.2;
        }
      }

      @include forTablet {
        width: 100%;
        max-width: VW(630, $tablet);
        padding: VW(55, $tablet) VW(60, $tablet);
        font-size: VW(23, $tablet);
        border-radius: VW(20, $tablet);
      }

      @include forMobile {
        width: 100%;
        max-width: VW(300, $mobile);
        padding: VW(36, $mobile) VW(27, $mobile) VW(74, $mobile);

        font-size: VW(23, $mobile);
        border-radius: VW(20, $mobile);
      }

      .top {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: VW(40) VW(50);
        z-index: 1;

        & > p,
        & > div {
          pointer-events: none;
        }

        @include forTablet {
          padding: VW(40, $tablet) VW(58, $tablet);
          align-items: center;
        }

        @include forMobile {
          padding: VW(36, $mobile) VW(27, $mobile);

          & > p {
            width: VW(200, $mobile);
          }
        }
      }

      &_line {
        width: 100%;
        height: max(0.1vw, 1px);
        background-color: $c-black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        transition-duration: 0.5s, 0.5s;
        transition-property: rotate, scale;
        transition-timing-function: $ease1, $BounceOut;

        &:nth-of-type(2) {
          rotate: -90deg;
        }

        &_wrapper {
          width: VW(30);
          height: VW(30);
          position: relative;

          @include forTablet {
            width: VW(30, $tablet);
            height: VW(30, $tablet);
          }

          @include forMobile {
            width: VW(30, $mobile);
            height: VW(30, $mobile);
          }
        }
      }

      .content {
        height: 0vw;
        opacity: 0;
        filter: blur(0.5vw);
        transform: scale(0.9) translateY(20%);
        transition: 0.5s $ease1;
        transition-property: height, opacity, filter, transform, margin-top;
        position: relative;

        @include forMobile {
          transition-duration: 0.5s, 0.3s, 0.5s, 0.5s, 0.5s;
        }
      }

      &_active {
        background-color: $c-white !important;
        &:nth-of-type(2) {
          .content {
            @include forMobile {
              height: 20vw;
            }
          }
        }
        .content {
          z-index: 10;
          height: 4vw;
          opacity: 1;
          margin-top: VW(50);
          filter: blur(0vw);
          transform: scale(1) translateY(0%);

          @include forTablet {
            margin-top: VW(50, $tablet);
          }

          @include forMobile {
            margin-top: VW(65, $mobile);
            height: 17vw;
            line-height: 110%;
          }
        }

        .card_line {
          &:nth-of-type(2) {
            rotate: 0deg;
          }
        }
      }
    }

    .faq_button {
      padding: VW(25) VW(50) VW(25) VW(30);
      background-color: $green-70;
      border-radius: VW(20);
      width: 41%;
      height: fit-content;
      border: 0.1vw solid #00000010;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include forTablet {
        width: 100%;
        max-width: VW(630, $tablet);
        // padding: VW(25, $tablet) VW(50, $tablet) VW(25, $tablet) VW(30, $tablet);
        padding: VW(35, $tablet) VW(60, $tablet);

        border-radius: VW(20, $tablet);
        font-size: VW(27, $tablet);
      }

      @include forMobile {
        width: 100%;
        max-width: VW(300, $mobile);
        padding: VW(25, $mobile) VW(25, $mobile);

        border-radius: VW(20, $mobile);
        font-size: VW(22, $mobile);

        flex-direction: column;
        align-items: center;
        gap: VW(30, $mobile);
      }

      & > a {
        line-height: 150%;
      }

      .text {
        width: 35%;

        @include forMobile {
          width: 100%;
          text-wrap: nowrap;
        }
      }
    }
  }

  .text {
    @include forTablet {
      width: 100%;
    }

    .title {
      margin-bottom: VW(40);

      @include forTablet {
        margin-bottom: VW(30, $tablet);
      }
      
      @include forMobile {
        margin-bottom: VW(20, $mobile);
      }
    }
  }

  .paragraphWrapper {
    display: flex;
    flex-direction: column;
    gap: VW(50);

    @include forTablet {
      gap: VW(50, $tablet);
    }

    @include forMobile {
      gap: VW(50, $tablet);
    }
  }

  .paragraph {
    display: flex;
    line-height: 1;
    max-width: VW(1240);
    flex-wrap: wrap;

    @include forTablet {
      max-width: 100%;
    }

    @include forMobile {
      max-width: 100%;
    }

    .word {
      position: relative;
      margin-right: VW(13);
      margin-top: VW(10);

      @include forTablet {
        margin-right: VW(15);
        margin-top: VW(12);
      }

      @include forMobile {
        margin-right: VW(6, $mobile);
        margin-top: VW(4, $mobile);
      }

      &:has(.word br) {
        opacity: 1;
      }

      .shadow {
        position: absolute;
        opacity: 20%;
      }
    }
  }
}
