.pricing {
  margin-top: VW(220);
  padding-bottom: VW(1230);
  position: relative;

  @include forTablet {
    padding-bottom: 0;
  }

  @include forMobile {
    margin-top: VW(80, $mobile);
    padding-bottom: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: VW(40);

    text-align: center;

    &_anim {
      p {
        justify-content: center;
      }
    }

    .text {
      width: 45%;

      @include forTablet {
        width: 65%;
      }

      @include forMobile {
        padding-top: VW(20, $mobile);
        width: 85%;
      }
    }
  }

  .cards_wrapper {
    display: flex;
    justify-content: center;
    gap: VW(40);

    position: absolute;
    padding-top: VW(100);
    width: 100%;

    @include forTablet {
      position: relative;
      flex-direction: column;
      align-items: center;
      gap: VW(40, $tablet);
    }

    @include forMobile {
      position: relative;
      flex-direction: column;
      align-items: center;
      gap: VW(40, $mobile);
      padding-top: VW(80, $mobile);
    }

    .card {
      padding: VW(15);
      background-color: $w-70;
      width: VW(690);
      height: VW(1100);
      border-radius: VW(30);
      overflow: clip;
      transition: height 0.5s $easePower4;

      @include hover {
        height: VW(1230);

        .button {
          transform: translateY(0%);
          scale: 1;
          filter: blur(0vw);
          transition: 0.5s 0.2s $ease1;
        }
      }

      @include touch {
        height: VW(1230);
      }

      @include forTablet {
        height: fit-content !important;
        width: VW(754, $tablet);
        padding: VW(15, $tablet);
        border-radius: VW(30, $tablet);
      }

      @include forMobile {
        height: fit-content !important;
        width: VW(350, $mobile);
        padding: VW(10, $mobile);
        border-radius: VW(20, $mobile);
      }

      &_black {
        background-color: $c-black;
        color: $c-white;

        .tag {
          background-color: #6399ff !important;
        }

        .main {
          background-color: $g-130 !important;
          border: .1vw solid $g-120 !important;

          .tableWrapper.tableTop {
            .tableItem {
              color: $g-90 !important;
            }
          }
        }
      }

      .main {
        padding: VW(40);
        background-color: $c-white;
        border-radius: VW(20);
        border: .1vw solid $g-50;
        overflow: clip;

        @include forTablet {
          border-radius: VW(20, $tablet);
          padding: VW(30, $tablet);
        }

        @include forMobile {
          border-radius: VW(15, $mobile);
          padding: VW(20, $mobile);
        }

        .tag {
          padding: VW(4) VW(15);
          margin-bottom: VW(40);
          background-color: $green-100;
          display: inline-block;
          border-radius: 10vw;
          color: $c-white;

          @include forTablet {
            padding: VW(6, $tablet) VW(15, $tablet);
            margin-bottom: VW(40, $tablet);
          }

          @include forMobile {
            padding: VW(6, $mobile) VW(15, $mobile);
            margin-bottom: VW(20, $mobile);
          }
        }
      }

      .transfers {
        padding: VW(40);

        @include forTablet {
          padding: VW(40, $tablet);
        }

        @include forMobile {
          padding: VW(60, $mobile) VW(15, $mobile) VW(15, $mobile);
        }
      }

      .table {
        &_content {
          &:nth-last-of-type(1) {
            .tableWrapper {
              &:nth-last-of-type(1) {
                .line {
                  display: none;
                }
              }
            }
          }
        }
      }

      .tableWrapper {
        display: grid;
        grid-template-columns: VW(195) VW(49) VW(125) VW(22) VW(134);
        position: relative;

        @include forTablet {
          grid-template-columns:
            VW(200, $tablet) VW(50, $tablet) VW(150, $tablet)
            VW(30, $tablet) VW(140, $tablet);
        }

        @include forMobile {
          grid-template-columns:
            VW(200, $tablet) VW(50, $tablet) VW(150, $tablet)
            VW(30, $tablet) VW(140, $tablet);
        }

        &:not(:has(.tableItem:nth-child(3))) {
          .tableItem {
            &:nth-child(1) {
              grid-column: 1/4;
            }

            &:nth-child(2) {
              grid-column: 5/6;
            }
          }
        }

        &:has(.tableItem:nth-child(3)) {
          .tableItem {
            &:nth-child(1) {
              grid-column: 1/2;
            }

            &:nth-child(2) {
              grid-column: 3/4;
            }

            &:nth-child(3) {
              grid-column: 5/6;
            }
          }
        }

        .tableItem {
          padding: VW(30) 0;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;

          @include forTablet {
            padding: VW(30, $tablet) 0;
          }

          @include forMobile {
            padding: VW(20, $mobile) 0;
          }

          .highlight {
            padding: VW(38) 0;
            color: $green-100;
          }
        }

        .line {
          display: block;
          position: absolute;
          bottom: 0;
          // left: 0%;
          // right: 0%;
          left: -100%;
          right: -100%;
          height: 0.1vw;
          background-color: #7878783a;

          @include forMobile {
            min-height: 1px;
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;
        padding: VW(30) 0;

        transition: 0.5s $ease1;
        transition-property: transform, scale, filter, opacity;
        transform: translateY(50%);
        scale: 0.9;
        filter: blur(1vw);

        @include touch {
          transform: translateY(0%) !important;
          scale: 1 !important;
          filter: blur(0vw) !important;
        }

        @include forMobile {
          padding: VW(5, $mobile) 0 VW(25, $mobile);
        }
      }
    }
  }
}
