.instruction {
  aspect-ratio: 16/9;

  background: url("/images/instruction/bg.webp") no-repeat;
  background-size: 110%;
  
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  @include forTablet {
    aspect-ratio: 4/3;
    background-size: cover;
    background-position: center;
  }
  
  @include forMobile {
    aspect-ratio: auto;
    background-size: cover;
    background-position: center;
    height: VW(534, $mobile);
  }

  .button {
    padding: VW(12) VW(22) VW(12) VW(12);
    transition: scale 0.3s $BounceOut;
    box-shadow: $boxShadow;
    border-radius: 10vw;
    color: $c-white;
    background-color: $green-100;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: VW(12);
    
    line-height: 90%;
    
    @include hover {
      scale: 0.9;
    }
    
    @include forTablet {
      padding: VW(12, $tablet) VW(22, $tablet) VW(12, $tablet) VW(12, $tablet);
      gap: VW(8, $tablet);
      transform: none !important;
      opacity: 1 !important;
    }
    
    @include forMobile {
      opacity: 1 !important;
      transform: none !important;
      padding: VW(12, $mobile) VW(22, $mobile) VW(12, $mobile) VW(12, $mobile);
    }

    &_active {
      @include forDesktop {
        border-radius: 0vw;
      }

      .buttonIcon {
        @include forDesktop {
          opacity: 0;
          transition: opacity .001s ease;
        }
        
        @include forPortraitTablet {
          opacity: 0;
          transition: opacity .001s ease;
        }
      }

      .buttonText {
        @include forDesktop {
          opacity: 0;
          transition: opacity .001s ease;
        }
        
        @include forPortraitTablet {
          opacity: 0;
          transition: opacity .001s ease;
        }
      }
    }

    .buttonIcon {
      width: VW(40);
      height: VW(40);
      transition: opacity .3s .5s ease;
      
      @include forTablet {
        width: VW(30, $tablet);
        height: VW(30, $tablet);
      }
      
      @include forMobile {
        width: VW(30, $mobile);
        height: VW(30, $mobile);
      }    
    }

    .buttonText {
      transition: opacity .3s .5s ease;
    }
  }

  .popUp {
    display: flex;
    flex-direction: column;
    gap: VW(80);
    box-shadow: $boxShadow;
    background-color: $c-white;
    
    width: VW(470);
    padding: VW(20);
    border-radius: VW(20);
    
    position: absolute;
    bottom: VW(20);
    left: VW(20);
    
    @include forTablet {
      width: VW(387, $tablet);
      padding: VW(15, $tablet);
      border-radius: VW(20, $tablet);
      gap: VW(16, $tablet);
    }
    
    @include forMobile {
      width: 84%;
      left: 50%;
      bottom: VW(15, $mobile);
      transform: translateX(-50%) !important;
      gap: VW(16, $mobile);
      border-radius: VW(20, $mobile);
      padding: VW(15, $mobile);
    }

    h2 {
      @include forTablet {
        width: 70%;
      }  
    }
  }

  .video_main {
    width: VW(1620);
    height: VW(911);
    aspect-ratio: 16/9;
    border-radius: VW(30);
    
    &_wrapper {
      position: fixed;
      inset: 0;
      z-index: 100;
      
      display: flex;
      align-items: center;
      justify-content: center;

      .bg {
        position: fixed;
        inset: 0;
        z-index: -1;
      
        animation: presenceBg .3s .7s forwards;

        transition: opacity .3s ease-in-out;

        @keyframes presenceBg {
          0% {
            background: rgba(217, 217, 217, 0);
            backdrop-filter: blur(VW(0));
          }
          100% {
            background: rgba(217, 217, 217, 0.2);
            backdrop-filter: blur(VW(15));
          }
        }
  
        @include hover {
          opacity: .8;
        }

      }
    }


    &_close {
      width: VW(22);
      height: VW(22);
      position: absolute;
      top: VW(20);
      right: VW(20);
      padding: VW(20);
      z-index: 10000;
      cursor: pointer;

      transition: opacity .3s ease;

      @include hover {
        opacity: .6;
      }
    }
  }
}
